language: ruby
services:
  - redis-server
rvm:
  - 1.9.3
  - jruby-19mode
  - 2.0.0
  - 2.1
env:
  matrix:
    - SIDEKIQ_VERSION="~> 2.16.0"
    - SIDEKIQ_VERSION="~> 2.17.0"
    - SIDEKIQ_VERSION="~> 3.0.0"
matrix:
  allow_failures:
    - rvm: 1.9.3
    - rvm: jruby-19mode
